version: "3.9"

services:
  api:
    build:
      context: .
      target: api
    image: ghcr.io/wixyvir/ansible-ui/api:${DOCKER_TAG:-latest}
    env_file:
      - ./.env
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}

  web:
    build:
      context: .
      target: web
    image: ghcr.io/wixyvir/ansible-ui/web:${DOCKER_TAG:-latest}
    ports:
      - "8000:80"
    depends_on:
      - api

volumes:
  postgres_data:
