version: "3.9"

services:
  api:
    build:
      context: .
      target: api
    image: ansible-ui/api:latest
    env_file:
      - ./.env
    depends_on:
      - db

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}

  web:
    build:
      context: .
      target: web
    image: ansible-ui/web:latest
    ports:
      - "80:80"
    depends_on:
      - api

volumes:
  postgres_data:
